/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



 #container{
    width: 960px;
    margin: 20px auto;
    
 }
 #rubrik{
    text-align: center;
    color: rgb(134, 122, 122);
    background-color: rgb(208, 255, 1);
    font: helvetica;
    font-size: 100%;
    border: solid 2px plum;
}
body{
    background-color: rgba(230, 196, 222, 0.281);
    border: dotted 2px black;
    font-family: Helvetica, sans-serif;
}

[class*=col-]{
    border: 1px solid black;
    margin: 20px 43px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
ul > li {
        list-style-type: none;
        margin: 10px;
        padding: 20px;
        overflow: hidden;
        border: solid 4px plum;
        background-color: rgb(216, 213, 213);
        float: left;
        border-radius: 10px;
        
      }
      li a:hover {
        background-color: plum;
    }

#startsida{
position: fixed;
top: 10px;
left: 10px;
font-size: 18px;
}
#startsida a:hover {
    background-color: plum;}

#kropp{
    height: 300px;
    border: dotted 4px plum;
}

#footer{
    position: fixed;
    bottom: 20px;
    left: 340px;
    width: 800px;
    height: 100px;
    color: rgb(134, 122, 122);
    border: solid 2px plum; 
}
 
#jag{
    text-align: left;
}
#bild{
    float: right;
}
.col-3 {width: 220px;}
.col-12 {width: 940px;}
